.checkbox_wrapper {
  position: relative;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    cursor: pointer;
    padding-left: 25px;
}

input[type=checkbox] + label:before {
    content: "";
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    background-color: #f7f7f7;
    border-radius: 2px;
    box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

input[type=checkbox]:checked + label:before{
    content: "\2714";
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 18px; 
    font-weight:600; 
    color: #fff;  
    background:#2f87c1;
    text-align: center;   
}